html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
}

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease;
    z-index: 1000;
    /* Aumenta el z-index para asegurar que el nav esté por encima */
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
    margin-top: -2%;
}

.nav div.logo a {
    text-decoration: none;

    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #bfac98;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #bfac98;
}

/*nav desaparece*/
/* CSS para el nav */
.nav {
    transition: opacity 0.5s ease;
    /* Transición suave para la opacidad */
    opacity: 1;
    /* Opacidad inicial */
}

/* Clase para ocultar el nav */
.nav.hidden {
    opacity: 0;
    /* Hace el nav invisible */
}

/*class home con foto de fondo*/
.home {
    width: 100%;
    height: 150vh;
    background-position: center top;
    background-size: cover;
    background-image: url(./img/Grabado-Aguafuerte/unnamed.jpg);


}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;

}


hr {
    background-color: #bfac98;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .navTrigger {
        display: block;
    }

    .nav div.logo {
        margin-left: 15px;
    }

    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    .nav div.show_list {
        height: auto;
        display: none;
    }

    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        background-position: center top;
    }

    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }

    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }

    .nav div.media_button {
        display: block;
    }
}


/* Animación del menú responsive */
.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}

.myH2 {
    text-align: center;
    font-size: 4rem;
    margin-top: auto;

}

#myH2 {
    height: 300px";     

}


/*Letra de la referencia del trabajo*/
.myP {
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 30px;
}

.copy-libro {
    background-color: #000;
    color: #fff;
    font-size: 65%;
}

@media all and (max-width: 700px) {
    .myP {
        padding: 2%;
    }
}






/*FOOTER*/


.footer {
    background-color: #000;
    color: #fff;

    bottom: 0;
}

.footer_main {
    background-color: var(--primary);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 80px;
}

.footer_main .footer-left,
.footer_main .footer-center,
.footer_main .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer_main .footer-left {
    width: 40%;
}

.footer_main h3 {
    color: var(--secondary);
    font: normal 36px 'Architects Daughter';
    font-weight: 500;
    margin: 0;

}


.footer_main .footer-links {
    color: var(--secondary);
    margin: 20px 0 12px;
    padding: 0;
}

.footer_main .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer_main .footer-company-name {
    color: var(--secondary);
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


.footer_main .footer-center {
    width: 35%;
}

.footer_main .footer-center i {
    background-color: var(--box-background);
    color: var(--secondary);
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer_main .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer_main .footer-center p {
    display: inline-block;
    color: var(--secondary);
    vertical-align: middle;
    margin: 0;
}

.footer_main .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer_main .footer-center p a {
    color: var(--secondary);
    text-decoration: none;
    ;
}

.footer_main .footer-right {
    width: 20%;
}

.footer_main .footer-company-about {
    line-height: 20px;
    color: var(--secondary);
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer_main .footer-company-about span {
    display: block;
    color: var(--secondary);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer_main .footer-icons {
    margin-top: 25px;
}

.footer_main .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: var(--box-background);
    border-radius: 2px;

    font-size: 20px;
    color: var(--secondary);
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}


@media (max-width: 880px) {

    .footer_main {
        font: bold 14px sans-serif;

    }

    .footer_main .footer-left,
    .footer_main .footer-center,
    .footer_main .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer_main .footer-center i {
        margin-left: 0;
    }

    .main {
        line-height: normal;
        font-size: auto;
    }

}




/*SLIDE*/
/* Estilos para el carousel */
.carousel {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: auto;
    max-height: calc(100vh - 65px - 100px);
    /* Ajusta este valor según el tamaño de tu nav y otros elementos */
    object-fit: contain;
    /* Cambia de 'cover' a 'contain' */
}


.carousel-inner {
    display: flex;
    /* Usa un contenedor flexible para los items del carousel */
    transition: transform 0.5s ease;
    /* Efecto de transición al cambiar los items */
}

.carousel-item {
    flex: 0 0 100%;
    /* Hace que cada item ocupe el 100% del ancho */
    width: 100%;
    /* Ancho completo para cada item */
}

.carousel-item img {
    width: 100%;
    /* Ajusta la imagen del carousel al ancho completo */
    height: 400px;
    /* Altura fija para la imagen */
    object-fit: cover;
    /* Ajusta la imagen para cubrir el contenedor */
    position: relative;
    /* Posición relativa para la imagen */
}

.carousel-caption {
    position: absolute;
    /* Posición absoluta para la caption */
    bottom: 20px;
    /* Distancia desde la parte inferior */
    left: 20px;
    /* Distancia desde la izquierda */
    background-color: rgba(0, 0, 0, 0.7);
    /* Fondo semi-transparente para la caption */
    color: #fff;
    /* Color del texto de la caption */
    padding: 10px;
    /* Relleno interno de la caption */
    text-align: center;
    /* Alineación del texto */
}

.carousel-control {
    position: absolute;
    /* Posición absoluta para los controles del carousel */
    top: 50%;
    /* Alinea los controles verticalmente al centro */
    transform: translateY(-50%);
    /* Ajusta la posición verticalmente */
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semi-transparente para los controles */
    color: #fff;
    /* Color del texto de los controles */
    border: none;
    /* Sin borde */
    padding: 10px 15px;
    /* Relleno interno de los controles */
    font-size: 18px;
    /* Tamaño de la fuente de los controles */
    cursor: pointer;
    /* Cambia el cursor a un puntero al pasar el mouse */
}

.carousel-control.prev {
    left: 10px;
    /* Posición izquierda para el control "prev" */
}

.carousel-control.next {
    right: 10px;
    /* Posición derecha para el control "next" */
}

.slide-mov {
    margin-top: auto;
}





/*maria.arte*/

.google-color-1 {
    color: #4285F4;
    /* Azul */
}

.google-color-2 {
    color: #EA4335;
    /* Rojo */
}

.google-color-3 {
    color: #FBBC05;
    /* Amarillo */
}

.google-color-4 {
    color: #34A853;
    /* Verde */
}

.google-color-5 {
    color: #F4B400;
    /* Un color similar a amarillo para el punto */
}