@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier Prime", monospace;
    font-size: 62.5%;
}

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease;
}
/*maria.arte*/

.google-color-1 {
    color: #4285F4; /* Azul */
}

.google-color-2 {
    color: #EA4335; /* Rojo */
}

.google-color-3 {
    color: #FBBC05; /* Amarillo */
}

.google-color-4 {
    color: #34A853; /* Verde */
}

.google-color-5 {
    color: #F4B400; /* Un color similar a amarillo para el punto */
}


.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
    margin-top: -2%;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #bfac98;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #bfac98;
}

/*nav desaparece*/
/* CSS para el nav */
.nav {
    transition: opacity 0.5s ease; /* Transición suave para la opacidad */
    opacity: 1; /* Opacidad inicial */
}

/* Clase para ocultar el nav */
.nav.hidden {
    opacity: 0; /* Hace el nav invisible */
}





/*class home con foto de fondo*/
.home {
    width: 100%;
    height: 150vh;
    background-image: url(./img/collage.jpg);
    background-position: center top;
    background-size: cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;

}


hr {
    background-color: #bfac98;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .navTrigger {
        display: block;
    }

    .nav div.logo {
        margin-left: 15px;
    }

    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    .nav div.show_list {
        height: auto;
        display: none;
    }

    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        background-position: center top;
    }

    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }

    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }

    .nav div.media_button {
        display: block;
    }
}

/* Animación del menú responsive */
.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}

.myH2 {
    text-align: center;
    font-size: 4rem;

}

#myH2 {
    height: 300px";     

}



.myP {
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
}

@media all and (max-width: 700px) {
    .myP {
        padding: 2%;
    }
}

/*GALERIA PORTAFOLIO*/

.myH3 {
    text-align: center;
    font-size: 4rem;
    background-color: #000;
    color: #fff;
}

#myH3 {
    background-color: #000;
}


.card {
    width: 45%;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    background-color: #000;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    font-size: 15px;

}

.card img {
    width: 100%;
    height: auto;

}

.card h3 {
    margin-top: 15px;
}

.card p {
    margin: 10px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.button:hover {
    background-color: #555;
}





/*FOOTER*/


.footer {
    background-color: #000;
    color: #fff;
    font-family: "Courier Prime", monospace;
    bottom: 0;
}

.footer_main {
    background-color: var(--primary);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 80px;
}

.footer_main .footer-left,
.footer_main .footer-center,
.footer_main .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer_main .footer-left {
    width: 40%;
}

.footer_main h3 {
    color: var(--secondary);
    font: normal 36px 'Architects Daughter';
    font-weight: 500;
    margin: 0;

}


.footer_main .footer-links {
    color: var(--secondary);
    margin: 20px 0 12px;
    padding: 0;
}

.footer_main .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer_main .footer-company-name {
    color: var(--secondary);
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


.footer_main .footer-center {
    width: 35%;
}

.footer_main .footer-center i {
    background-color: var(--box-background);
    color: var(--secondary);
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer_main .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer_main .footer-center p {
    display: inline-block;
    color: var(--secondary);
    vertical-align: middle;
    margin: 0;
}

.footer_main .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer_main .footer-center p a {
    color: var(--secondary);
    text-decoration: none;
    ;
}

.footer_main .footer-right {
    width: 20%;
}

.footer_main .footer-company-about {
    line-height: 20px;
    color: var(--secondary);
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer_main .footer-company-about span {
    display: block;
    color: var(--secondary);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer_main .footer-icons {
    margin-top: 25px;
}

.footer_main .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: var(--box-background);
    border-radius: 2px;

    font-size: 20px;
    color: var(--secondary);
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}


@media (max-width: 880px) {

    .footer_main {
        font: bold 14px sans-serif;

    }

    .footer_main .footer-left,
    .footer_main .footer-center,
    .footer_main .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer_main .footer-center i {
        margin-left: 0;
    }

    .main {
        line-height: normal;
        font-size: auto;
    }

}


/*VER TODOS MIS TRABAJOS*/
.ver-todos-container {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

:root {
    --color-duration: 0.3s; /* Duración para cada color */
}

.ver-todos-btn {
    display: inline-block;
    padding: 15px 30px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: colorChange calc(9 * var(--color-duration)) infinite;
}

.ver-todos-btn:hover {
    animation-play-state: paused;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

@keyframes colorChange {
    0%, 100% { background-color: #E0D8C1; }  /* Pearl Bush */
    11.11% { background-color: #D1B399; }    /* Bison Hide */
    22.22% { background-color: #928778; }    /* Stonewall */
    33.33% { background-color: #BEB49F; }    /* Soya Bean */
    44.44% { background-color: #CEC9B3; }    /* Pale Oyster */
    55.55% { background-color: #817A6F; }    /* Armadillo */
    66.66% { background-color: #9C7E5D; }    /* Pale Brown */
    77.77% { background-color: #976B4F; }    /* Old Copper */
    88.88% { background-color: #806854; }    /* Tobacco Brown */
}
